@page "/films/{Id:int}"
@inherits Details<MovieDetails>
<h3>Component</h3>
@if (Item != null)
{
    <div class="card mb-3">
        @{
            var imgUrl = $"https://image.tmdb.org/t/p/w500/" + Item.PosterPath;
            var imgUrl1 = $"https://image.tmdb.org/t/p/w500/" + Item.BackdropPath;
        }
        <img src="@imgUrl1" class="card-img-top" style="width:100%;height:120px" alt="...">
        <div class="card-header">Header</div>
        <div class="grid row g-0">
            <div class="col-md-4">
                <div class="grid">

                    <img src="@imgUrl" class="img-fluid rounded-start" alt="...">
                    <div class="card-title">
                        Original Title : @Item.OriginalTitle <br />
                        Revenue: @Item.Revenue<br />
                        Budget: @Item.Budget<br />
                        Original Language : @Item.OriginalLanguage<br />
                        Release Date : @Item.ReleaseDate.ToShortDateString()<br />
                        Runtime: @Item.Runtime<br />
                        Status: @Item.Status<br />
                        Tagline: @Item.Tagline<br />
                        Popularity: @Item.Popularity<br />
                        VoteAverage: @Item.VoteAverage<br />
                        VoteCount: @Item.VoteCount<br />
                        Genres:
                        @if (Item.Genres != null && Item.Genres.Count > 0)
                        {
                            @Item.Genres.Select(e => e.Name).Aggregate((i, j) => i + ", " + j)
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-title">
                    Title : @Item.Title <br />

                </div>
                <div class="card-body">
                    <div class="card-title">Overview:</div>                    
                    <p class="card-text"> @Item.Overview</p>
                </div>
                <div>
                    <div class="card-title">Production Companies</div>
                    @foreach (var item in Item.ProductionCompanies)
                    {
                        <div class="grid row g-0">
                            <div class="col-md-2">
                                @{
                                    var imgPro = "https://image.tmdb.org/t/p/w500/"+item.LogoPath;
                                }
                                <img src="@imgPro" class="img-fluid rounded-start" />
                            </div>
                            <div class="col-md-10 row">
                                 Name : @item.Name
                                 Origin Country :@item.OriginCountry
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <div class="card-title">Production Countries</div>
                    @foreach (var item in Item.ProductionCountries)
                    {
                        <p>@item.Name</p>
                    }
                </div>
                    


            </div>
        </div>
        <div class="card-footer"></div>
    </div>
}
@if(videoResults !=null)
{
    @foreach (var item in videoResults)
    {

        var videourl = "https://www.youtube.com/embed/";
        <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.VideoKey" frameborder="0" allowfullscreen></iframe>
    }
}
@code {
    public Film():base(Cinematography.Movie)
    {
        
    }

    }
